{% extends "generic/footer.html" %}
{% block content %}
  {% load static %}
      <link rel="stylesheet" href="{% static 'assets/css/nosotros.css' %}">
      <div class="card">
        <div class="card-body">
          <h2 style="text-align: center; font-size: 30px; font-weight: bold; color: #866195; margin-bottom: 20px;">Sobre Nosotros</h2>
        </div>
        <img src="https://roibas.com/img/cabecera-sobre-nosotros.jpg" class="card-img-bottom" alt="...">
      </div>

      <div class="card" >
        <div class="card-body">
          <div class="texto-transparente" style= "text-align: justify; background-image: url('{% static 'assets/img/nosotros.jpg' %}'); background-size: cover; background-position: center; background-color: rgba(255, 255, 255, 0.5);">
            <p > Bienvenidos a Vams, un espacio dedicado a la belleza y la elegancia femenina a través de piezas únicas y atemporales. Creemos que cada mujer, sin importar su edad, merece adornos que resalten su individualidad y estilo personal.
    
              Nuestra pasión por la joyería se refleja en cada uno de nuestros diseños, elaborados a mano con amor y dedicación. Utilizamos materiales de alta calidad para crear accesorios que no solo son hermosos, sino también duraderos. Desde delicados collares hasta pulseras llamativas, cada pieza cuenta una historia y está hecha pensando en ti.
    
              En Vams, nos enorgullecemos de ofrecer una variedad de estilos que se adaptan a todos los gustos y ocasiones. Ya sea para un evento especial, un regalo significativo o simplemente para consentirte, aquí encontrarás el complemento perfecto.
    
            </p>
          </div>
        </div>
      </div><br>


     
{% endblock %}
